n8n_workflow_argus_ingest.json
{
  "name": "Argus AML — Live Transaction Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "seconds", "secondsInterval": 30 }] }
      },
      "id": "trigger",
      "name": "Every 30 seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Simulate a batch of transactions from an external bank feed.\n// Replace this with a real data source: Google Sheets, Kafka, webhook, DB query, etc.\nconst patterns = [\n  // Fan-out: one source, many recipients\n  { 'From Bank':'1','From Account':'A_LAUNDER_01','To Bank':'2','To Account':'A_REC_01','Amount Paid':25000,'Payment Format':'Wire' },\n  { 'From Bank':'1','From Account':'A_LAUNDER_01','To Bank':'3','To Account':'A_REC_02','Amount Paid':24500,'Payment Format':'Wire' },\n  { 'From Bank':'1','From Account':'A_LAUNDER_01','To Bank':'4','To Account':'A_REC_03','Amount Paid':25500,'Payment Format':'Wire' },\n  // Stack: chain A → B → C\n  { 'From Bank':'5','From Account':'B_CHAIN_01','To Bank':'6','To Account':'B_CHAIN_02','Amount Paid':18000,'Payment Format':'SWIFT' },\n  { 'From Bank':'6','From Account':'B_CHAIN_02','To Bank':'7','To Account':'B_CHAIN_03','Amount Paid':17800,'Payment Format':'SWIFT' },\n  { 'From Bank':'7','From Account':'B_CHAIN_03','To Bank':'8','To Account':'B_CHAIN_04','Amount Paid':17600,'Payment Format':'SWIFT' },\n];\n// Randomise amounts slightly so each run looks different\nreturn patterns.map(tx => ({\n  json: {\n    ...tx,\n    'Amount Paid': Math.round(tx['Amount Paid'] * (0.95 + Math.random() * 0.1)),\n    Timestamp: new Date().toISOString().replace('T',' ').slice(0,16),\n  }\n}));"
      },
      "id": "generate",
      "name": "Generate Transaction Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ARGUS_URL || 'http://localhost:8000' }}/ingest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ transactions: $input.all().map(i => i.json) }) }}",
        "options": {
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "post",
      "name": "POST to Argus /ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "argus-api-key", "name": "Argus API Key" }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst body = typeof resp.body === 'string' ? JSON.parse(resp.body) : resp.body;\nconsole.log(`Argus ingestion: stored=${body.stored}, rejected=${body.rejected?.length ?? 0}, queued=${body.total_queued}`);\nreturn [{ json: body }];"
      },
      "id": "log",
      "name": "Log Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Every 30 seconds": { "main": [[{ "node": "Generate Transaction Batch", "type": "main", "index": 0 }]] },
    "Generate Transaction Batch": { "main": [[{ "node": "POST to Argus /ingest", "type": "main", "index": 0 }]] },
    "POST to Argus /ingest": { "main": [[{ "node": "Log Response", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "templateId": "argus-aml-ingest-v1",
    "description": "Sends a batch of suspicious transactions to Argus /ingest every 30 seconds. Swap the Code node for a real data source (Google Sheets, Webhook, DB)."
  }
}
